src/main/resources/transform/gw-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="GuidewireRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Policy">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Insured">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Street" type="xs:string"/>
                          <xs:element name="City" type="xs:string"/>
                          <xs:element name="State" type="xs:string"/>
                          <xs:element name="Zip" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>